body{
margin:0;
}








/* smart phones */
@media all and (min-width:0px) and (max-width: 767px){



}





/* */
@media all and (min-width:768px){

header{
height:4vw;
padding:1vw;
border:solid 1px black;
}

.logo{
display:inline-block;
height:100%;
}

.logo-img{
height:100%;
}

.menu{
float:right;
}

.menu-item{
display:inline-block;
font-size:1.2em;
font-weight:bold;
margin-right:1vw;
}

#mainContent{
height:100vh;
}

#main{
padding-top:25vh;
padding-bottom:25vh;
padding-left:10vw;
}

#cnt{
display:grid;
grid-template-areas:'p p t t'
                   'p p b b';
grid-auto-columns:10vw;
grid-auto-rows:10vw;
}

.photo{
grid-area:p;
}

.content-img{
width:100%;
}

.topic{
grid-area:t;
font-size:2em;
font-weight:bold;
}

.breif-explanation{
grid-area:b;
}



}